@charset "uft-8";

.container{
    background-color: #F6F5F0
}

.checkbox{
    border: 1px solid
}

img {
    width: 20%;
    height: auto;
    margin: 1px;
}
/*전체 선택자(*), class 선택자(.), id 선택자(#), 자손선택자(태그를 순서대로 입력)
/*하위 자식 태그들 css 적용 방법?*/

/*커피: 에스프레소, 아메리카노, 바닐라라떼, 모카라떼, 캬라멜 마끼아또, 카푸치노
 스무디: 블루베리 스무디, 딸기 스무디, 망고 스무디
주스: 딸기바나나, 바나나, 딸기, 블루베리, 망고
차: 히비스커스, 얼그레이, 복숭아 아이스티, 유자차, 캐모마일, 녹차*/